//
//  Release.xcconfig
//  CommonsFinder
//
//  Created by Tom Brewe on 11.06.26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// The wikimedia "consumer id" (https://meta.wikimedia.org/wiki/Special:OAuthConsumerRegistration/propose)
// This value is considered public (see: https://meta.wikimedia.org/wiki/Special:OAuthListConsumers)
OAUTH_CLIENT_ID=
